@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth!important;
}

@layer base{
 body {
    @apply bg-black text-white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
 }   

 h1 h2, h3, h4, h5, h6{
    @apply font-bold
 }
 h1{
   @apply text-2xl sm:text-5xl md:text-6xl
 }
 h2{
   @apply text-3xl sm:text-4xl
 }

 li{
   @apply cursor-pointer
 }

 button{
   @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-teal-800 to-teal-400 text-white
 }

.w-right {
  position: relative;
}

.w-mainCircle {
  left: 7rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;
 
  z-index: 2;
}
.w-mainCircle > * {
  position: absolute;
}
.w-mainCircle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.w-mainCircle > :nth-child(2) {
  left: -3rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(3) {
  left: 6rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(4) {
  left: 15rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(5) {
  left: 6rem;
  top: 13rem;
}
.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  box-shadow: var(--smboxShadow);
  background: white;
}

.w-secCircle > img {
  transform: scale(0.6);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  
  z-index: 1;
 
}
.tealCircle {
  background: teal;
  left: 15rem;
  top: 0rem;
}
.greenCircle {
  background: #65ca68;
  left: 15rem;
  top: 8rem;
}
@media screen and (max-width: 480px) {

  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content:start;
    transform: scale(0.7);
    left: 25px;
  }
  .w-mainCircle{
    position: static;
    
  }
  .w-backCircle{
    left: 7rem!important;
    margin-top: -30px;
  }

}}